.todo-form {
  margin: 0;
  padding: 0;
}

.todo-form input {
  height: 2rem;
  width: 20rem;
  outline: none;
  border: 1px solid #0e6ba8;
  padding: .4rem;
  font-size: 1.5rem;
}

.todo-form button {
  height: 100%;
  padding: .6rem;
  border: none;
  font-size: 1.5rem;
}
